@import "tailwindcss";

/* Import Weather Icons */
@import "weather-icons/css/weather-icons.min.css";

/* Fonts og body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Geist", sans-serif;
}

/* Egen baggrundsclass */ 
.bg-sky { 
  background-image: url("/sky.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}