@import "tailwindcss";

/* Import Weather Icons */
@import "weather-icons/css/weather-icons.min.css";


body {
  font-family: "Geist", sans-serif;
}

/* Egen baggrundsclass */ 
.bg-sky { 
  background-image: url("/sky.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}